<h1> All Contacts </h1>

<%= button_to "Add a New Contact", "/contacts/new", class: "btn btn-info", method: :get %> </br>
<div
  <% @contacts.each_slice(2) do |two_contacts| %>
    <div class="row">
        <%two_contacts.each do |contact| %>
          <div class="col-md-4">
            <h3>Name: <a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.middle_name %> <%= contact.last_name %></a></h3>
            <h3><b>Bio:</b> <%= contact.bio %></h3>
            <h3><b>Email:</b> <%= contact.email %></h3>
            <h3><b>Tel Number:</b> <%= contact.phone_nber %></h3>     
<!--             <h3><b>Latitude: </b> <%= contact.latitude %></h3>
            <h3><b>Longitude: </b> <%= contact.longitude %></h3> -->
            </h3> 
          </div>
        <% end %>
     </div>
  <% end %>
</div>

<%= button_to "Add a New Item", "/products/new", class: "btn btn-primary", method: :get %>
<table class="table-striped"> </table>